<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">                
      <div data-id="verbinski" data-view="Verbinski"></div>                     
    </li> 
  </ul>
</div>