<% content_for :title do %>Ohio Christian University :: Social Media Contest<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-view="Image" data-image="/ocu-logo.png"></div>
    </li>
    
     <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Welcome to the Social Dash" style="background-color:#0fad88;" data-text="This dashboard will update each week with the stats of the previous week. Good luck teams!"></div>
    </li>
       
       
       
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mondaygoal" data-view="teamgoals" data-title="Monday" data-goal="Base Social Visits" style="background-color:#ff9618" data-text="42"></div>
    </li>
    
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tuesdaygoal" data-view="teamgoals" data-title="Tuesday" data-goal="Base Social Visits" style="background-color:#12B0C5" data-text="39"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wednesdaygoal" data-view="teamgoals" data-title="Wednesday" data-goal="Base Social Visits" style="background-color:#E89183" data-text="35"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="thursdaygoal" data-view="teamgoals" data-title="Thursday" data-goal="Base Social Visits" style="background-color:#A5447A" data-text="62"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fridaygoal" data-view="teamgoals" data-title="Friday" data-goal="Base Social Visits" style="background-color:#92B369" data-text="89"></div>
    </li>
   
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="ideas" data-view="ideas" data-title="Share Ideas" style="background-color:#0fad88;" 
      data-ideaone="OCU Open Jobs" 
      data-ideatwo="Summer Projects" 
      data-ideathree="Basketball Champs" 
      data-ideafour="Circleville Events" 
      data-ideafive="Bribe Your Friends" 
      data-ideasix="Funny Campus Pictures" 
      data-moreinfo="Ideas to get you moving!">
      </div>
    </li>
    
    
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="monday"  data-view="teamcurrent" data-subtitle="Last Week" style="background-color:#ff9618" data-title="Team Monday"  data-prefix="" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tuesday" data-view="teamcurrent" data-subtitle="Last Week" style="background-color:#12B0C5" data-title="Team Tuesday"  data-prefix="" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wednesday" data-view="teamcurrent" data-subtitle="Last Week" style="background-color:#E89183" data-title="Team Wednesday"  data-prefix="" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="thursday" data-view="teamcurrent" data-subtitle="Last Week" style="background-color:#A5447A" data-title="Team Thursday"  data-prefix="" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="friday" data-view="teamcurrent" data-subtitle="Last Week" style="background-color:#92B369" data-title="Team Friday"  data-prefix="" ></div>
    </li>

    
  </ul>
</div>